@using HIPMS.Web.Startup
@{
    ViewBag.CurrentPageName = PageNames.About;
    ViewBag.Title = L("About");
}
<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="m-0 text-dark">@L("About")</h1>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                 

                        <h3>Hindustan ZInc</h3>

                        <p>
                            Hindustan Zinc is India’s largest and world’s second largest integrated zinc producer. With more than 50 years of operational experience, we give highest priority to safety of our people and conservation of scarce natural resources through technology and innovation. With a total R&R base of 460.1 million tonnes and an average zinc-lead grade of 6.8%, our mine life is over 25 years. Our fully integrated zinc operations currently hold around 80% market share in India’s primary zinc industry. We are the 5th largest silver producers globally with an annual capacity of 800 MT.

                            We are a subsidiary of Vedanta Limited which owns 64.9% stake in the Company while the Government of India retains a 29.5% stake. We are listed on the NSE and BSE.
                        </p>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
